body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #000000;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 1000;
    border-radius: 0 0 10px 10px; 
    transform: translateX(100%); 
    transition: transform 0.5s ease-in-out; 
}

.navbar.visible {
    transform: translateX(0); 
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; 
    justify-content: space-around; 
    height: 100%;
}

.navbar ul li {
    margin: 10px 0;
    transition: transform 0.3s;
}

.navbar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    transition: transform 0.3s, font-size 0.3s, color 0.3s;
    padding: 10px;
    border-radius: 5px;
    display: block;
}

.navbar ul li a:hover {
    color: #189CD8;
    transform: scale(1.2);
    font-size: 22px;
    background: rgba(255, 255, 255, 0.2);
}

.navbar ul li a:hover ~ a {
    transform: scale(0.8);
}

.card-section {
    top: -100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    scroll-behavior: smooth;
    overflow: hidden;
}

.card-content, .profile-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 800px;
    backdrop-filter: blur(10px);
    color: #ffffff;
}

.profile-card {
    max-width: 600px;
}

.profile-photo {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
}

#animated-text {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
}

#animated-text span {
    display: inline-block;
    margin: 0 0.1rem;
    animation: wave-animation 1.5s infinite;
}

@keyframes wave-animation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.profile-info h1 {
    margin: 10px 0 5px;
    font-size: 24px;
    color: #ffffff;
}

.profile-info p {
    margin: 5px 0;
    color: #ffffff;
}

h2 {
    margin-bottom: 15px;
    font-size: 22px;
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


ul li {
    margin-bottom: 10px;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 18px;
}

ul li i {
    margin-right: 10px;
    font-size: 24px;
}

.profile-personalizada {
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: 30px 0;
    text-align: center;
    backdrop-filter: blur(10px);
    color: #ffffff;
}

.profile-personalizada .profile-card {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile-photo {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 5px solid #189CD8;
}

.profile-info h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #ffffff;
}

.profile-info p {
    margin: 10px 0;
    font-size: 1.2em;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-info a {
    color: #189CD8;
    text-decoration: none;
    transition: color 0.3s ease;
}

.profile-info a:hover {
    color: #ffffff;
}

.profile-info i {
    color: #189CD8;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.profile-info i:hover {
    color: #ffffff;
}

#email-link, #phone-link, #linkedin-link {
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;
}

#email-link::after, #phone-link::after, #linkedin-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0056b3;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-in-out;
}

#email-link:hover, #phone-link:hover, #linkedin-link:hover {
    color: #003366;
}

#email-link:hover::after, #phone-link:hover::after, #linkedin-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#email-link:focus, #phone-link:focus, #linkedin-link:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 86, 179, 0.5);
}



.habilidades-personalizada {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 30px 0;
    text-align: center;
}

.habilidades-personalizada .card-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

.habilidades-personalizada ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.habilidades-personalizada ul li {
    font-size: 1.2em;
    color: #666;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
}

.habilidades-personalizada ul li:hover {
    background-color: #189CD8;
    color: white;
    transform: scale(1.05);
}

.habilidades-personalizada ul li i {
    font-size: 1.5em;
    color: #189CD8;
    transition: color 0.3s ease;
}

.habilidades-personalizada ul li:hover i {
    color: white;
}

.proyectos-personalizada {
    padding-top: 20px;
    height: 1200px;
    text-align: center;
}

.proyectos-titulo {
    font-size: 32px;
    color: #fff;
    margin-bottom: 30px;
    position: relative;
}

.proyectos-titulo::after {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background-color: #189CD8;
    margin: 10px auto 0;
}

.proyectos-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.proyecto-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    text-align: left;
}

.proyecto-titulo {
    font-size: 24px;
    color: #189CD8;
    margin: 20px 0 10px;
}

.proyecto-descripcion {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.proyecto-card .btn {
    display: inline-block;
    margin-top: 10px;
    background-color: #189CD8;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.proyecto-card .btn:hover {
    background-color: #1075a4;
}



.sobre-mi-personalizada {
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: 30px 0;
    text-align: center;
    backdrop-filter: blur(10px);
    color: #ffffff;
}

.sobre-mi-personalizada .card-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

.sobre-mi-personalizada .card-content p {
    font-size: 1.2em;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #ffffff;
}

#show-form-btn {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#show-form-btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    transform: translateY(-2px);
}

#show-form-btn:active {
    background-color: #004080;
    border-color: #004080;
    transform: translateY(0);
}

#show-form-btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.experiencia-personalizada {
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: 30px 0;
    text-align: center;
    backdrop-filter: blur(10px);
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
}

.experiencia-personalizada .card-content {
    max-width: 1000px;
    margin: 0 auto;
}

.experiencia-personalizada .card-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

.experiencia-personalizada .experiencia-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.experiencia-personalizada .experiencia-item {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
    padding: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    text-align: left;
    box-sizing: border-box;
}

.experiencia-personalizada .experiencia-item h3.empresa {
    font-size: 1.4em;
    margin-bottom: 5px;
    color: #ffffff;
}

.experiencia-personalizada .experiencia-item h4.cargo {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #f0f0f0;
}


.experiencia-personalizada .experiencia-item p.descripcion {
    font-size: 1em;
    line-height: 1.4;
    color: #ffffff;
}


.educacion-personalizada {
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: 30px 0;
    text-align: center;
    backdrop-filter: blur(10px);
    color: #ffffff;
}

.educacion-personalizada .card-content h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

.educacion-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.educacion-item {
    display: flex;
    align-items: center;
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
    max-width: 600px;
    width: 90%;
}

.educacion-item i {
    color: #189CD8;
    margin-right: 20px;
}

.educacion-info h3 {
    margin: 0;
    font-size: 1.5em;
    color: #ffffff;
}

.educacion-info p {
    margin: 5px 0 0;
    color: #cccccc;
    font-size: 1.2em;
}

.educacion-item:hover {
    background-color: #189CD8;
    color: #ffffff;
    transform: translateY(-5px);
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
}

.star {
    position: absolute;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: twinkle 1.5s infinite;
}

@keyframes twinkle {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

.custom-swal-container {
    background-color: #000;
}

.custom-swal-popup {
    background-color: #222;
    color: #fff;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.custom-swal-popup .swal2-title {
    font-size: 45px;
    color: #fff;
    margin-bottom: 15px;
}

.custom-swal-popup .swal2-input {
    font-size: 14px;
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
    border-radius: 5px;
    width: 85%;
    height: 30px;
    box-sizing: border-box;
}

.custom-swal-popup .swal2-textarea {
    font-size: 14px;
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
    border-radius: 5px;
    width: 85%;
    height: 90px;
    box-sizing: border-box;
}

.custom-swal-popup .swal2-input:focus,
.custom-swal-popup .swal2-textarea:focus {
    border-color: #189CD8;
    outline: none;
}

.custom-swal-popup .form-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.custom-swal-popup .form-label {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 25px;
}

.custom-swal-popup .form-group:nth-child(odd) {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.custom-swal-popup .form-group:nth-child(even) {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
}

.custom-swal-popup .swal2-confirm,
.custom-swal-popup .swal2-cancel {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.custom-swal-popup .swal2-confirm {
    background-color: #189CD8;
    color: #fff;
}

.custom-swal-popup .swal2-cancel {
    background-color: #555;
    color: #fff;
    margin-left: 10px;
}

.custom-swal-popup .swal2-confirm:hover {
    background-color: #0f78c0;
}

.custom-swal-popup .swal2-cancel:hover {
    background-color: #444;
}

@media (max-width: 576px) {
    .navbar-nav {
        text-align: center;
    }

    .card-section {
        padding: 17px;
    }
    .card.profile-card {
        width: 90%;
    }
    .card-content {
        width: 90%;
        font-size: .9rem;
    }

    .card-section.experiencia-personalizada,
    .card-section.habilidades-personalizada,
    .card-section.proyectos-personalizada,
    .card-section.sobre-mi-personalizada,
    .card-section.educacion-personalizada {
        width: 90%;
        height: 100%;
        font-size: .9rem;
    }
    .container.proyectos{
        max-height: 100%;
    }

    .proyecto-card{
        width: 70%;
    }

    .iframe-proyectos{
        max-width: 100%;
    }
    .educacion-item {
        width: 90%;
    }

    #animated-text {
        font-size: 1rem;
    }

    .profile-card {
        margin-top: 10px;
    }

    .card-content h2 {
        font-size: 1.5rem;
    }

    .card-content p {
        font-size: 0.875rem;
    }

    .educacion-item i {
        font-size: 2rem;
    }

    .educacion-info h3 {
        font-size: 1.25rem;
    }

    .educacion-info p {
        font-size: 1rem;
    }
    .custom-swal-popup {
        width: 90%;
    }

    .custom-swal-popup .swal2-input {
        width: 70%;
    }
    .custom-swal-popup .swal2-textarea {
        width: 70%;
        height: 20px;
    }
    .container-cards-total {
        padding-right: 50px;
    }
    .custom-swal-popup .swal2-title {
        font-size: 30px;
        color: #fff;
        margin-bottom: 15px;
    }
    .experiencia-item{
        font-size: .79rem;
    }
}




